@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans);
  --font-looped: var(--font-ibm-plex-sans-looped);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button-nav-blank {
  @apply flex items-center rounded-lg border-[0.5px] border-solid border-white px-2.5 py-1.5 font-medium duration-300 hover:bg-neutral-100;
}

.menu-nav {
  @apply flex w-full items-center rounded-lg border-[0.5px] border-solid border-white px-6 py-4 text-3xl duration-300 hover:bg-neutral-100;
}
